
h1 {
color: red;
text-align: justify;
font-style: italic;
}
h2 {
color: red;
font-style: italic;
text-align: justify;
font-style: italic;
font-size: 40px
text-decoration:underline;
}
ul {
font-size: 20px
}
ol {
  font-style: oblique;
  font-size: 20px
}
p {
 font-family: fantasy;
 font-size: 20px
 color: red
}
h3 {
  color: red;
  font-size: 20px
}

body {
  background-color: orange
}
